@import './pico.min.css';
@import './github-markdown.css';

@tailwind base;
@layer base {
  html {
    font-family: font-sans;
  }
}

@tailwind components;
@tailwind utilities;

.header-image {
  @apply pb-16;

  background-image: url("https://hd2g.github.io/kat0/image/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.markdown-body * {
  @apply bg-base-100;
}

.markdown-body table * {
  @apply bg-base-200;
}

.markdown-body h1 {
  @apply mt-10;
}
